body{ background:linear-gradient(black, rgb(78, 33, 78), rgb(0, 0, 0));
    align-items: center;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0 auto;
    max-width: 100%;
    min-width: 320px;
}

@media (max-width: 768px) {
  body{background: linear-gradient(black, rgb(78, 33, 78));
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0 auto;}
  }


.header{display: flex;
  background:black;
flex-direction: column;
align-items: center;
padding: 1.25rem;
width: 100%;}



.navbar{background-color:transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
    width: 90%;
    height: 0.75rem;
color:white;
padding:3.125rem;
margin:1.25rem;
    margin-right:60px;
    border: solid 4px rgb(36, 3, 36);
    border-radius: 20px;}


.header-container{border-radius: 3.125rem;
display: flex;
flex-wrap: wrap;
align-items: center;
box-sizing: border-box;
justify-content: space-around;
border: 0.188rem solid  rgb(36, 3, 36);
width: 96%;
margin-right: 45px;
padding: 1.25rem;
background-color: rgba(100, 41, 112, 0.521);
position: relative;
}

h2{font-size: 60px;
text-align: center;}
.write-ups{ 
width: auto;
height: auto;
font-size: 2.5rem;}

h1{text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 60px;
margin-top: 50px;
margin-bottom: 5px;}

.contact-btn{margin-bottom: 40px;
margin:10px;}


button{ background:  rgb(36, 3, 36);
  width: 180px;
  border: none;
  border-radius:20px ;
  color: white;
  text-align: center;
  padding: 15px 32px;
  margin-left: 250px;
  text-decoration: none;
  display: inline-block;
  font-size:  large;
  margin-bottom: 10px;
  cursor: pointer;
  transform: translateY(2px);
  transition: all 0.3s ease;}

button:hover {
  background-color: #000305;}

  .image{
    width: auto;
    height: auto;}

    .headerimage{width: 385px;
    height: 565px;
  border-radius: 3.125rem;}




  @media (max-width: 768px) {
    .header{width: 100%;
      margin:0px;
    }
    
    .image{width: 100%;
    height: 1500px;}


     .headerimage{height: 1200px;
    width: 95%;
    margin-left: 20px;
    margin-top: 100px;
    border-radius: 150px;
    
    
  }

    .navbar{max-width: 85%;
    height: 152px;
    margin: 50px;
    border: solid 8px  rgb(36, 3, 36);
    border-radius: 40px;
  margin-top:100px ;}

  .navbar-logo{width: 300px;}
  
    h1{font-size:70px ;
    margin-top: 50px;}

    h2{font-size: 40px;}

    button{margin-top: 100px;
width:330px ;
height: 130px;
margin-left: 230px;
font-size:40px ;
border-radius: 40px;}

    .contact-btn {margin-right: 1px;
    width: 300px;
  height: 130px;
font-size: 50px;
border-radius: 40px;}



    .header-container { width: 100%;
      align-items: center;
      margin-left: 40px;
    height: 2000px;
    border-radius: 120px;
    
    }


    .write-ups{
      padding-left: 0;
      padding-right: 2rem;
      font-size: 1.875rem;
      margin-top: 50px;
    }
    
}



.about-container{display: flex;
  flex-wrap: wrap;
align-items: center;
box-sizing: border-box;
justify-content: space-between;
padding: 30px;
width: 100%;}

.about{
  width: auto;
  height: auto;
  margin:0;
  text-align: start;}

.head-paragraph{font-weight: bold;
  font-size: 16px;
  color: gray;
  opacity: 1;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}



.social-media-apps{ 
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
box-sizing: border-box;
flex-direction:row;
width:700px;
height: 400px;}

.sm1{display: flex;
flex-direction: column;}

.sm2{display: flex;
flex-direction: column;}

.sm3{display: flex;
flex-direction: column;}


  .social-media-apps img{
    width: 195px;
    height: 110px;
    margin: 10px;
    margin-top: 40px;
  }



  @media (max-width: 768px) {
     .about{width: 100%;
      height: 400px;
      text-align: center;
      padding: 30px;
    margin-top: 20px;
    }

    .head-paragraph{font-size:28px;
      color: gray;
    opacity: 1;
  font-weight: bold;}

    
    .social-media-apps{width:700px;
      height: 800px;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1.5rem;
      align-items: center; 
  margin: 40px;}
  
     .sm1{width: 300px;
    height: 200px;
  margin: 30px;}

     .sm2{width: 300px;
      height: 200px;}

      .sm3{width: 300px;
        height: 200px;
      margin-left: 30px;}

      .social-media-apps img{width: 300px;
        height: 300px;
        margin: 6px;}
         }

.projects{ width: 100%;
margin-top: 20px;
}

.projects-container{background: transparent;
  margin: 100px;
  width: 100%;
  margin-left: 0px;
  margin-top: 20px;
  display:grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3rem;
}

.project-box1{
width: 100%;
height: 300px;
display: flex;
justify-content: space-between;
align-items: center;}

.pp1{
margin-left: 300px;}



.paragraph1 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
  padding-top: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.project-box{
  width: 400px;
  height: auto;
  background: black;
  border-radius: 60px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 100px;
  margin: 20px;
}

.project-box img{
  width: 350px;
  height: 250px;
  border-radius: 45px;
  padding-left: 3px;
   border: rgb(36, 3, 36) solid 3px;
}

h3{text-align: start;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
}
.paragraph{text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.188rem;
padding: 0px;}


@media (max-width: 768px){

  .project{width: 100%;}

 .project-box1{ width: 100%;
    height: 800px;
  margin: 30px;}

    .pp1{text-align: center;
   font-size: 15px;
   width:100%;
   margin: 30px; }

.pp2{display: none;}
  
.project-paragraph{font-size: 90px;}

.paragraph1{font-size: 50px;
  color: gray;
  opacity: 1;}
  
  .projects-container{width:100%;
    align-items: center;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3rem;
  margin: 20px;}

  .project-box{width:99%;
  height:auto;
margin-left:8px;
border-radius: 140px;}

  .project-box img{width: 92%;
  height: 500px;
border-radius: 100px;
margin-top: 20px;
margin-left: 30px;}

  h3{font-size: 50px;
  padding: 40px;}

.paragraph{font-size:45px;}

}


.footer{display: flex;
  flex-direction: column; 
  padding: 20px;
  background: black;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;}

.footer-container{display: flex;
flex-direction: column;
flex-wrap: wrap;

display: flex;
flex-direction: column;
align-items: center;
  flex-wrap: wrap;
  width: 100%;}


h4{color: rgb(107, 5, 110);
font-size:2rem;
margin-top:4.375 rem;
text-align: center;}


#education{margin-bottom: 10px;
padding-left: 20px;
width: auto;
}

.education{border: 3px  rgb(61, 25, 61) solid;
border-radius: 30px;

}

  .education-image{ width:100%; padding:50px;}


#technology{ display: flex;
  flex-direction: column;
  padding: 20px;}


  .image-container{display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1.5rem;
    
    justify-content:center;}



    .technology-image{height: 5.313rem;
      width: 5.313rem;
      margin: 10px;
      padding:3rem 3rem;
      border: solid 3px rgb(37, 5, 37) ;
      border-radius: 30px;
      transition: all 0.3s ease;
    }


      .technology-image:active{transform: translateY(2px);}



      @media screen and (max-width: 768px) {

        .footer{width:100%;
          height: auto;
        margin:0px;}


      .education {width: 80%;
        margin-top: 40px;
        height: auto;
        padding: 30px;
  }

  .education-image{width: 100%; 
    height: 600px;
    padding-left: 50px;}

    h4 {
      font-size: 60px;
      padding-top: 30px;
    }

    .image-container{display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 1.5rem;}
      

  .technology-image {
    height: 3.75rem;
    width: 3.75rem;
    padding: 2rem 2rem;
    border: solid 3px rgb(37, 5, 37) ;
    border-radius: 30px;
    transition: all 0.3s ease;
  }

 
  
}
    
      
    .download{width: 100px;}
     
      .download-cv-button
       {width: 200px;
        padding: 1.25rem;
        margin:0.625rem ;
        margin-left: 1.563rem;
        border: solid 3px rgb(37, 5, 37);
        border-radius: 2rem;
        font-size: 1.2rem;
        font-weight:900;
        color: white;
        cursor: pointer;
        background: rgb(0, 0, 0);
        transition: all 0.3s ease;
      }

      .download-cv-button:hover
 {
  background: linear-gradient(to top, rgb(48, 6, 48), rgb(18, 18, 99));
  color:black;
  
}

.download-cv-button:active
 {
  transform: translateY(2px);
}



@media screen and (max-width: 768px) {
  .downloadbtn{width: 100%;
height: 450px;}
  
  
  
  
  .download-cv-button
 {   margin-top: 100px;
  width:450px ;
  height: 120px;
  margin-left: 230px;
  font-size:40px ;
  border-radius: 40px;}

  .download-cv-button:hover
 {
  background: linear-gradient(to top, rgb(48, 6, 48), rgb(18, 18, 99));
  color:black;
  
}

.download-cv-button:active
 {
  transform: translateY(2px);
}
  
}